:root .botTagRegular_c89c9a {
    border-radius: 5px;
    background: var(--main-color);
  }
  
  :root .wrapper__2d9b1 {
    background: transparent !important;
    position: relative;
    color: var(--main-color) !important;
  }
  
  :root .wrapper__2d9b1::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    opacity: 0.08;
    border-radius: 5px;
    transition: opacity 200ms;
    pointer-events: none;
   
  }
  
  
  
  
  :root .wrapperAudio__555ce .audioControls__9fbe9 .mediaBarWrapper_f312bd .mediaBarGrabber_c64ff9 {
    background: var(--main-color) !important;
  }
  
  :root .wrapper_fbbb73 .lookFilled-yCfaCM.colorPrimary-2AuQVo {
    background-color: var(--main-color);
  }
  
  :root .attachButton_b1db83:hover .attachButtonPlus_bf89ca {
    fill: var(--main-color);
  }
  
  :root .guilds__2b93a .scroller__3d071 > .tutorialContainer_dc6fde:first-child > .listItem_fa7b36 .childWrapper__01b9c {
    background: var(--main-color);
    color: #fff;
  }
  :root .guilds__2b93a .scroller__3d071 .listItem_fa7b36 .lowerBadge__669e7 .numberBadge__50328 {
    min-width: 25px;
    background: var(--main-color) !important;
    font-size: 8px;
  }
  
  :root .guilds__2b93a .scroller__3d071 .listItem_fa7b36 .wrapper_d281dd.selected_f5ec8e .childWrapper__01b9c, :root .guilds__2b93a .scroller__3d071 .listItem_fa7b36 .wrapper_d281dd:hover .childWrapper__01b9c {
    background: var(--main-color);
  }
  :root .guilds__2b93a .scroller__3d071 .tutorialContainer_dc6fde:hover .circleIconButton_d8df29, :root .guilds__2b93a .scroller__3d071 .tutorialContainer_dc6fde + .listItem_fa7b36:hover .circleIconButton_d8df29 {
    background: transparent;
    color: var(--main-color);
    border-color: var(--main-color);
  }
  :root .guilds__2b93a .mention__1afd3:hover {
    color: var(--main-color);
  }
  :root .bar__004d9 {
    border-radius: 4px;
    background: var(--main-color);
  }
  :root .container__11d72.title_b7d661:not(.minimum_ebf000) .search__07df0 .searchBar_e0c60b .icon_f50f05 {
    color: var(--main-color);
  }
  datepicker .react-datepicker__day:hover {
    background: var(--main-color);
  }
  :root .container_d6dad3 .datePickerHint__7cc9b .hintValue_c2ce1f {
    background: var(--main-color);
  }
  :root .searchResultsWrap__9f374 .scroller_c8d5ad .pageButton_bcd673.activeButton__7a550 {
    background-color: var(--main-color);
  }
  :root .userPopoutOuter_d739b2 .userPopoutOverlayBackground_d8afa4 .activity__20c1e .button__9491f {
    background-color: var(--main-color);
    opacity: 1;
  }
  :root .notificationSettings-1U0JsJ .wrapper__4beb8 .option_a0c054:hover {
    background: var(--main-color);
    opacity: 0.4;
  }
  :root .notificationSettings-1U0JsJ .wrapper__4beb8 .option_a0c054.selected_ea51d6 {
    background: var(--main-color);
    box-shadow: unset;
  }
  :root .panels__58331 .activityPanel__22355 .actions__9256d .button_afdfd9 {
    color: var(--main-color);
  }
  :root .panels__58331 > .container_ca50b9 .button__4f306[aria-checked=false].enabled__470f0 {
    color: var(--main-color);
  }
  :root .akaBadge__7df41 {
    background: var(--main-color);
    color: #fff;
  }
  :root .wrapper_bd2abe:not(.video__85ac2) .tile_a411a4 .buttonColor_fa1bb3 {
    background-color: var(--main-color);
  }
  :root .wrapper_bd2abe:not(.video__85ac2) .tile_a411a4 .buttonColor_fa1bb3 {
    background-color: var(--main-color);
  }
  :root .userPanelOuter__880e5 .userPanelOverlayBackground__34fc8:nth-child(2) .activity__20c1e .button__9491f {
    background-color: var(--main-color);
    opacity: 1;
  }
  :root .modal__060da .selectorButtonSelected-3Z0WNU {
    background: var(--main-color);
  }
  :root .lookFilled__19298.colorBrand_b2253e:hover {
    background: var(--main-color) !important;
  }
  :root .item-2idW98[style*=background-color] {
    background: var(--main-color) !important;
  }
  :root .bar_e58961 .barFill__30e17 {
    background: var(--main-color);
  }
  :root .inviteButton_eb675f {
    background-color: var(--main-color);
  }
  :root .keyboardShortcutsModal__74c71 .keybindShortcut-3zF1P9 span {
    background: var(--main-color);
  }
  :root {
    --brand-400: var(--main-color);
    --brand-500: var(--main-color);
    --text-brand: var(--main-color);
    --control-brand-foreground: var(--main-color);
  }
  :root .gameActivityToggleAdded-Yd-YxC > div:last-child button:first-child {
    color: var(--main-color);
  }
  :root .wrapper__2d9b1 {
    background: transparent !important;
    position: relative;
    color: var(--main-color) !important;
  }
  :root .wrapper__2d9b1::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    opacity: 0.08;
    border-radius: 5px;
    transition: opacity 200ms;
    pointer-events: none;
  }
  :root .wrapperAudio__555ce .audioControls__9fbe9 .mediaBarWrapper_f312bd .mediaBarGrabber_c64ff9 {
    background: var(--main-color) !important;
  }
  
  .wrapper_d281dd[data-list-item-id="guildsnav___home"] .childWrapper__01b9c {
    background: url("https://github.com/TheTopHat26/ZuneTheme/blob/main/Assets/ZuneLogo.png?raw=true") no-repeat center !important;
    background-size: cover !important;
  }
  .wrapper_d281dd[data-list-item-id="guildsnav___home"] .childWrapper__01b9c svg {
    display: none;
  }

  .mediaBarGrabber_c64ff9:hover{
    color: var(--main-color);
  }
  
    [class^=ready] {
    scale: 0;
    }
    [class^=container]>[class^=content]:after {
    content: url(https://github.com/TheTopHat26/ZuneTheme/blob/main/Assets/ZuneLogoLoad.png?raw=true);
    position: relative;
    display: inline-block;
    top: -500px;
    zoom: 0.5;
    }