/**
@name Zune
@author TheTopHat
@description Bring back the beloved zune theme from windows XP back to Discord! 
@version 0.0.1

**/


:root {
    --version: "0.0.1";
  
    
    --main-color: #e77325;
  
    
    --avatar-radius: 8px;
  }


.theme-dark{
    --background-primary: #2e2d2d;
    --background-secondary: #272626;
    --background-secondary-alt: #272626;
    --background-secondary-alt-alt: #272626;
    --background-tertiary: #090909;
    --deprecated-store-bg: var(--background-primary);
    --background-floating: var(--background-secondary);
    --background-mobile-primary: var(--background-primary);
    --activity-card-background: var(--background-secondary);
    --input-background: var(--background-secondary);
    --modal-background: var(--background-primary);
}


