/**
@name Zune
@author TheTopHat
@description Bring back the beloved zune theme from windows XP back to Discord! 
@version 0.0.1

**/


:root {
    --version: "0.0.1";
  
    
    --main-color: #e77325;
  
    
    --avatar-radius: 8px;
  }


.theme-dark{
    --background-primary: #2f2f2f;
    --background-secondary: #2f2f2f;
    --background-secondary-alt: #666666;
    --background-secondary-alt-alt: #2f2f2f;
    --background-tertiary: #090909;
  
}